.wrapper input{
    max-width: 25em;
}

.wrapper button{
    max-width: 8em;
}

.wrapper select{
    max-width: 25em;
}

.fields-warning-text{
    color: red;
    font-size: 24px;
    margin-bottom: 1.2em;
}
